node_modules/
target/
src-tauri/gen/
.tauri-dev/
src-tauri/icons/*
!src-tauri/icons/icon.ico
!src-tauri/icons/icon.png
out/
dist/
*.log
.DS_Store
data/
templates/
release/
**/.*.tmpdir/
*.tmp
data-test/
tmp/
backup/

__pycache__/
*.pyc
